// @stylint off
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700)
// @stylint on

body
html
:global(#app)
    font 14px 'Roboto', sans-serif
    height 100%
    margin 0
    width 100%

// copied from https://github.com/daneden/animate.css/blob/master/source/attention_seekers/bounce.css
@keyframes bounce
    from, 20%, 53%, 80%, to
        animation-timing-function cubic-bezier(.215, .610, .355, 1.000)
        transform translate3d(0, 0, 0)

    40%, 43%
        animation-timing-function cubic-bezier(.755, .050, .855, .060)
        transform translate3d(0, -30px, 0)

    70%
        animation-timing-function cubic-bezier(.755, .050, .855, .060)
        transform translate3d(0, -15px, 0)

    90%
        transform translate3d(0, -4px, 0)
